html, body
{
    background: #808080;
    font-family: "Oxygen";
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
  display: block;  
  max-width: 100%;
  height: auto;
}

.header {
    padding: 15px;
    background: #7d7dc4;
}

.header img {
    margin: 40px 0;
    display: inline-block;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.header h1 {
   display: inline-block;
}

.main {
    background-image:url(/img/diagmonds_@2X.png);
    background-size:141px 142px; 
    padding: 80px;
}

.main h1 {
    color: #F65A5B ;
    font-size: 64px;
    margin: 0 0 80px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 50%;
}

.main h2 {
    background-color: #DDDDDD ;
    color: #999999 ;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 20px 0;
}

.main .series {
    color:#0393ff;
}

.main .episode {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.main .description {
    color: #fff;   
}

.main ul, .main img {
    margin: 30px 0 0;
}

.main ul li {
    background: rgba(0,0,0,0.5);
    border: 1px solid #0393ff;
    color: #fff;
}

.list-group-item span {
    color:#0393ff;
    padding:0 10px 0 0;
}
    

.footer {
  background:#000;
  padding:60px 0;
  /*text-align: center;*/
  margin: 80px 0 110px;
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;  
}

.footer ul {
  color:#0393ff; 
  list-style:none;
  padding-left:0px;  
}

.footer img {
   margin: 0 10px;
}